*{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* ---------------------------------  header-1  -------------------------------------------> */


#header1{
    font-size: 15px;
    background-color: #f0f0ed;
    padding: 0.6% 2% 0.6% 55%;
    color: #c9c6c6;

}

#header1>span{
    font-size: 11px;
    margin: 0px 10px;
    color: #777777;
}

#header1 >a{
    font-size: 11px;
    color: #0088cc;
    margin: 0px 10px;
    text-decoration: none;
}


/* <!-------------------------------------  header-2  -------------------------------------------> */


#header2{
    display: flex;
    /* flex-grow: 1; */
    padding: 0px 20px;
}

#header21{
  display: flex;
}

/* <!---------------------search bar ------------> */
#search-container{
  width: 500px;
  color: #777777;
  margin-left: 50px;
  font-size: 15px;
  border: 1px solid #bebcbc;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.search >input{
  color: #777777;
  border: none;
  width: 400px;
}

.search >button{
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: white;
  color: #bebcbc;
  border-left: 1px solid #d6d6d5;
  font-size: 20px;
  padding: 8px 0px;
  padding-left: 10px;

}

#header22{
  line-height: 1px;
  height: 80px;
  font-size: 14px;
  /* border: 1px solid red; */
  display: block;
  margin-left: 27%;
  margin-top: 12px;
}

#header22 >p >span{
  color: #0088cc;
}

#cartBack{
  width: 50px;
  height: 50px;
  margin: 20px;
  position: relative;
}

#cartBack:hover{
  cursor: pointer;
}

.cartIcon{
    width: 100%;
    height: 100%;
    z-index: 10;
    
}

#cartIcon{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bolder;
}






/* <!---------------------------------------header 3 - Navbar----------------------------------------------> */



#dropdown-nav{
  /* height: 50px; */
  background-color: #f0f0ed;
  display: flex;
  margin:0px 20px;
  border-radius: 5px;
}

.dropbtn {
  /* background-color: #04AA6D; */
  color: #0088cc;
  padding: 12px 18PX;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  /* min-width: 70%;
  margin-left: 15%; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-size: 15px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  text-decoration: underline;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: flex;
  position: fixed; 
  /* margin-left: 100px; */
  background-color: #0088cc;
}

.dropdown:hover .dropdown-content >div{
   margin-right: 40px;
}


.dropdown:hover .dropbtn {
  background-color: #0088cc; 
  color: white; 
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px;
}

.dropButton:hover{
  background-color: #0088cc; 
  color: white; 
  border-radius: 5px;
}

#warranty{
  font-size: 14px;
  display: flex;
  margin-top: 20px;
  margin-left: 15%;

}

#warranty >p{
  margin-right: 40px;
  margin-left: 15px;
  /* margin-top: 210px; */
}
/* <!----------------carousel --------------------------------------------> */

#carousel{
  margin: 60px 20px 20px 20px;

}

#carousel >img{
  width: 100%;
}

/* <!----------------browse by brands --------------------------------------------> */



.brand >h4{
  margin-left: 200px;
  margin-top: 20px;
  font-weight: bold;
  color: #777777;
}

.brands{
  width: 1100px;
  margin-left: 230px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  
}

.brand-logo{
    width: 100px;
    border-radius: 50%;
    /* transition: transform .2s; */
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.brands >img:hover{
  /* width: 120px; */
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}


/* <!----------------- BEST CAR SPARE PARTS ONLINE STORE IN INDIA --------------------------------------------> */


#cards{
  width: 1000px;
  margin-top: 20px;
  margin-left: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-gap: 5px; */
}

.cards{
  width: 90%;
  margin-bottom: 5px;
}

/* <!----------------- product list --------------------------------------------> */
.prod_title{
  
    margin-left: 20px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 900;
    color: #777777;

}

.prod_title:hover{
  text-decoration: underline;
  cursor: pointer;
}

#product-list{

  width: 100%;
  margin: 0px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  
}

.prod_div{
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px;
}

.prod_div:hover .add-cart-btn{
  background-color: #0088cc;
  color: white;
}

.product-img{
  width: 60%;
}

.product-img:hover{
  cursor: pointer;
}

.add-cart-btn{
  border: 1px solid rgb(212, 212, 212);
  padding: 5px;
  border-radius: 5px;
  color: #535252;
  background-color: white;
}

.price{
  font-size: 22px;
  color: #535252;
}

/* <!----------------- testimonials --------------------------------------------> */

.testimonials{
      display: flex;
      margin: 20px 20px 20px 50px ;
      background-color: #f0f0ed;
      padding: 30px 50px;

}

.testimonials >img{
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.testimonials >div{
  margin-right: 40px;
  font-size: 14px;
  color: #777777;
}


/* <!----------------- footer --------------------------------------------> */

#footer{
  margin-top: 200px;
  background-color: #121214;
  color: white;
  font-size: 14px;
  padding: 40px 220px;
  display: flex;
  line-height: 30px;
  position: relative;
  z-index: 1;
  
}

#float{
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  background-color: #0088cc;
  width: 120px;
  left: 14%;
  top: -25px;
  padding: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-style: italic;
}



#footer >div{
  margin-right: 100px;
}
.footerLink{
  text-decoration: unset;
  color: rgb(228, 224, 224);
}

.footerLink:hover{
  color: rgb(228, 224, 224);
  text-decoration: underline;
}

#footer2{
  background-color: #0c0c0c;
  text-align: center;
  color: #777777;
  font-size: 13px;
  padding: 20px;
}